<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="projects-container">

  <!-- Header -->
  <header>
    <h1 class="name">Saran Kumar Ramesh</h1>
    <span></span> <!-- Separator -->
    <p class="quote">"The only code that's truly bug-free is the one you haven't written yet..."</p>
  </header>

  <!-- Navigation -->
  <nav class="nav-container">
    <ul>
      <li><a routerLink="/"><img src="../../assets/nav-home.png" alt="Home"></a> <a routerLink="/">Home</a></li>
      <li><a routerLink="/about"><img src="../../assets/nav-about.png" alt="About"></a> <a routerLink="/about">About</a></li>
      <li><a routerLink="/projects"><img src="../../assets/nav-prjsk.png" alt="Projects/Skills"></a> <a routerLink="/projects">Projects/Skills</a></li>
      <li><a routerLink="/experience"><img src="../../assets/nav-eduexp.png" alt="Experience/Education"></a> <a routerLink="/experience">Experience/Education</a></li>
      <li><a routerLink="/contact"><img src="../../assets/nav-contactme.png" alt="Contact Me"></a> <a routerLink="/contact">Contact Me</a></li>
    </ul>
  </nav>

<!-- Main Content -->
<main>
  <!-- Content Section -->
  <section class="exp-section">
    <h2>EXPERIENCE</h2>
    <h3>Software Engineer</h3>
    <div>Mindtree Limited, A Larson & Turbo Group</div>
    <div>Chennai, India | August 2021 - November 2022</div>
    <p>Drove software development initiatives at Mindtree Limited, leveraging diverse programming languages and frameworks. Spearheaded projects as a Full Stack Developer, proficient in Spring Boot Framework, MySQL, and AngularJS. Applied DevOps principles for seamless integration and deployment, showcasing expertise in Ansible, Jenkins, Terraform, and Kubernetes.Committed to ongoing learning, currently delving into WebGL technologies like Three.js to enhance 3D animation design capabilities to stay ahead in this field.</p>

  </section>

  <span class="seperator"></span> <!-- Separator -->

  <section class="edu-section">
    <h2>EDUCATION</h2>
    <ul>
      <li>
        <h3>PG Cert., Software Developer<span></span>August 2023 - Present</h3>
        <div>Saskatchewan Polytechnic - Saskatoon</div>
        <p>Continuously evolving software ideologies at Saskatchewan Polytechnic, exploring cutting-edge technologies and methodologies to redefine development paradigms.</p>
      </li>
      <li>
        <h3>PG Cert., Technology management<span></span>August 2022 - May 2023</h3>
        <div>Saskatchewan Polytechnic - Moose Jaw</div>
        <p>Augmenting software acumen with insights into technology management, bridging the gap between innovation and execution at Saskatchewan Polytechnic.</p>
      </li>
      <li>
        <h3>B. Tech., - Electrical Engr.,<span></span>May 2017 - May 2021</h3>
        <div>SASTRA University - Tamil Nadu, India</div>
        <p>Laying the groundwork for software expertise with a blend of structured learning and extensive self-study, fueling a fervor for innovation and problem-solving.</p>
      </li>
    </ul>
  </section>

</main>


<section class="page-layout">
  <iframe class="iframe-container" src="http://localhost:3000/coalesce.html"></iframe>
</section>

<!-- Footer -->
<footer>
  <p>Almost there! Just a <span>scroll away</span> to reach out to me...</p>
</footer>
</body>
</html>
