<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <section class="page-layout">
      <iframe class="iframe-container" src="http://localhost:3000/index.html"></iframe>
    </section>
  </main>

  <footer>

  </footer>
</body>
</html>


<!-- Why do programmers prefer dark mode? Because light attracts bugs. -->
<!-- Why settle for stale code when you can have a fresh perspective? Call me up and let's create some magic. -->
<!-- Got questions? Reach out and let's have a conversation. -->
