html {
  width: 100%;
  height: 105vh;
  background-color: black;
}

.projects-container {
  height: 100vh; /* Adjust height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
}

.nav-container {
  position: relative;
  width: 20%;
  z-index: 1;
}

header {
  position: relative; /* Make the header relative to control absolutely positioned elements */
  width: 100%;
  z-index: 1;
}

.iframe-container {
  position: absolute; /* Make the iframe fixed to ensure it covers the entire viewport */
  width: 100%;
  height: 100%;
  border: none;
  top: 0;
  left: 0;
}

main {
  position: relative; /* Make the content relative to position it on top of the iframe */
  z-index: 1;
}

footer {
  position: relative;
  width: 20%;
  z-index: 1;
}

/* Basic remove margin */

h1, p {
  margin: 0;
}

/* Header */

header {
  padding: 20px; /* Add padding to provide some space around the content */
  color: wheat; /* Set text color to wheat */
  margin-top: 30px;
  text-align: center;
}

.name {
  display: inline;
  font-size: 35px; /* Adjust font size as needed */
}

header span {
  display: inline-block; /* Make the span an inline-block element */
  width: 2px; /* Set the width of the separator */
  height: 30px; /* Set the height of the separator */
  background-color: wheat; /* Set the color of the separator */
  margin: 0 90px; /* Add margin to the sides of the separator */
}

.quote {
  display: inline;
  font-style: italic;
  font-size: 25px;
  text-align: center;
}

/* Nav links */

.nav-container {
  position: fixed; /* Fix the navigation bar to the viewport */
  top: 100px; /* Adjust the distance from the top based on your header height */
  left: 0; /* Align the navigation bar to the left */
  width: 20%; /* Set the width of the navigation bar */
  padding: 20px; /* Add padding to the navigation bar */
  opacity: 80%;
}

.nav-container ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.nav-container a {
  display: block; /* Display links as blocks */
  color: wheat; /* Set the text color */
  text-decoration: none; /* Remove underline */
}

.nav-container ul li {
  padding: 20px 50px;
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid wheat; /* Add a solid wheat-colored border bottom */
}

img {
  display: block; /* Ensure the images are displayed as blocks */
  margin: 0 auto; /* Automatically center the images horizontally */
  background-color: wheat;
  width: 120px;
  height: 120px;
}

.nav-container ul li:last-child {
  border-bottom: none; /* Remove the border bottom from the last list item */
}

/* Main element */

main {
  left: 20%; /* Position main content 20% from the left */
  top: 30px; /* Position main content 100px from the top */
  width: 80%; /* Occupy 80% of the width */
  min-height: calc(100vh - 250px); /* Set minimum height to fill remaining viewport height after considering header and footer */
  padding: 20px; /* Add padding to provide space around the content */
  color: wheat; /* Set text color to wheat */
  border: 1px solid wheat; /* Add border */

  /* Center align contents horizontally and vertically */
  display: flex;
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
  padding-left: 75px;
  padding-right: 75px;

  background-color: rgba(0, 0, 0, 0.5); /* Set background color with 50% opacity */
}

.skill-seperator {
  display: inline-block; /* Make the span an inline-block element */
  width: 2px; /* Set the width of the separator */
  height: 600px; /* Set the height of the separator */
  background-color: wheat; /* Set the color of the separator */
  margin: 0 90px; /* Add margin to the sides of the separator */
}

/* Skill bar */

.skill-bar {
  display: inline-block;
  margin-left: 100px; /* Add some spacing between the skill text and the skill bar */
  width: 200px; /* Set the width of the skill bar */

}

.skill-bar::before{
  content: "";
  display: inline-block;
  height: 6px; /* Set the height of the skill bar */
  width: 350px; /* Set the width of the skill bar to 80% of the container width */
  background: linear-gradient(to right, wheat 90%, rgb(86, 85, 85) 90%); /* Use a linear gradient for the background color */
  margin-right: 5px; /* Add some spacing between the skill bar and the percentage text */
}

/* Style for span item individual percentage change appearance */

.skill-bar:nth-child(4)::before {
  background: linear-gradient(to right, wheat 87%, rgb(86, 85, 85) 87%);
}

.skill-bar:nth-child(6)::before {
  background: linear-gradient(to right, wheat 95%, rgb(86, 85, 85) 95%);
}

.skill-bar:nth-child(8)::before {
  background: linear-gradient(to right, wheat 80%, rgb(86, 85, 85) 80%);
}

/* Skills section in main content */

.skills-section {
  width: 2500px;
}

.skills-section h2 {
  padding-bottom: 80px; /* Add padding to the top and bottom */
  font-size: 50px; /* Change font size */
  text-align: center; /* Center align the text */
}

.skills-section ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.skills-section ul li {
  padding: 30px 0;
  margin-left: 80px;
  font-size: 18px;
  text-align: left;
  font-size: 25px;
  text-indent: -45px;
}

.skills-section ul li span:first-child {
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 1.5px;
}

/* Projects section in main content */

.projects-section h2 {
  padding-bottom: 80px; /* Add padding to the top and bottom */
  font-size: 50px; /* Change font size */
  text-align: center; /* Center align the text */
}

.projects-section ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.projects-section ul li {
  padding: 30px 0;
  margin-left: 80px;
  font-size: 18px;
  text-align: left;
  font-size: 25px;
  text-indent: -50px;
  line-height: 45px;
}

.projects-section ul li span:first-child {
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 1.5px;
}

/* Footer */

footer {
  width: 100%; /* Take up the full width of the viewport */
  padding: 20px; /* Add padding to the footer */
  margin-top: 60px; /* Add some margin at the top to separate it from the main content */
  color: wheat; /* Set text color */
  font-size: 23px; /* Set font size */
  text-align: center; /* Center-align the text */
  font-weight: 400;
}

footer span {
  font-weight: 900;
}
