html {
  width: 100%;
  height: 105vh;
  background-color: black;
}

.about-container {
  height: 100vh; /* Adjust height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
}

.nav-container {
  position: relative;
  width: 20%;
  z-index: 1;
}

header {
  position: relative; /* Make the header relative to control absolutely positioned elements */
  width: 100%;
  z-index: 1;
}

.iframe-container {
  position: absolute; /* Make the iframe fixed to ensure it covers the entire viewport */
  width: 100%;
  height: 100%;
  border: none;
  top: 0;
  left: 0;
}

main {
  position: relative; /* Make the content relative to position it on top of the iframe */
  z-index: 1;
}

footer {
  position: relative;
  width: 20%;
  z-index: 1;
}

/* Basic remove margin */

h1, p {
  margin: 0;
}

/* Header */

header {
  padding: 20px; /* Add padding to provide some space around the content */
  color: wheat; /* Set text color to wheat */
  margin-top: 30px;
  text-align: center;
}

.name {
  display: inline;
  font-size: 35px; /* Adjust font size as needed */
}

header span {
  display: inline-block; /* Make the span an inline-block element */
  width: 2px; /* Set the width of the separator */
  height: 30px; /* Set the height of the separator */
  background-color: wheat; /* Set the color of the separator */
  margin: 0 90px; /* Add margin to the sides of the separator */
}

.quote {
  display: inline;
  font-style: italic;
  font-size: 25px;
  text-align: center;
}

/* Nav links */

.nav-container {
  position: fixed; /* Fix the navigation bar to the viewport */
  top: 100px; /* Adjust the distance from the top based on your header height */
  left: 0; /* Align the navigation bar to the left */
  width: 20%; /* Set the width of the navigation bar */
  padding: 20px; /* Add padding to the navigation bar */
  opacity: 80%;
}

.nav-container ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.nav-container a {
  display: block; /* Display links as blocks */
  color: wheat; /* Set the text color */
  text-decoration: none; /* Remove underline */
}

.nav-container ul li {
  padding: 20px 50px;
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid wheat; /* Add a solid wheat-colored border bottom */
}

img {
  display: block; /* Ensure the images are displayed as blocks */
  margin: 0 auto; /* Automatically center the images horizontally */
  background-color: wheat;
  width: 120px;
  height: 120px;
}

.nav-container ul li:last-child {
  border-bottom: none; /* Remove the border bottom from the last list item */
}

/* Main element */

main {
  left: 20%; /* Position main content 20% from the left */
  top: 30px; /* Position main content 100px from the top */
  width: 80%; /* Occupy 80% of the width */
  min-height: calc(100vh - 250px); /* Set minimum height to fill remaining viewport height after considering header and footer */
  padding: 20px; /* Add padding to provide space around the content */
  color: wheat; /* Set text color to wheat */
  border: 1px solid wheat; /* Add border */

  /* Center align contents horizontally and vertically */
  display: flex;
  justify-content: center; /* Center contents horizontally */
  align-items: center; /* Center contents vertically */
  padding-left: 75px;
  padding-right: 75px;

  background-color: rgba(0, 0, 0, 0.5); /* Set background color with 50% opacity */
}

.main-content {
  text-align: center; /* Center-align the content */
  padding: 20px 0; /* Add padding to the top and bottom */
}

main p {
  text-align: center; /* Center-align the paragraph text */
  padding-top: 20px; /* Add padding to the top of the paragraph */
  font-style: italic; /* Italicize the font */
}

/* Buttons */

.design-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add some margin to separate buttons from the paragraph */
}

.design-buttons button {
  padding: 10px 40px; /* Add padding to the buttons */
  margin: 10px 30px; /* Add margin between buttons */
  font-size: 22px; /* Adjust font size as needed */
  background-color: black; /* Set background color of the buttons */
  color: wheat; /* Set text color of the buttons */
  font-weight: 700; /* Set font weight to 700 */
  border: 2px solid wheat; /* Set border with solid color wheat */
  border-radius: 10px; /* Add border-radius for curved corners */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: color 0.1s ease, border-color 0.1s ease; /* Add transition for color and border-color */
}

.design-buttons button:hover {
  color: rgb(237, 237, 237); /* Darker shade of wheat */
  border-color: #b3b3b3; /* Darker shade of wheat */
}

.design-buttons button.active {   /* Buttons on clicked boolean true or false */
  background-color: wheat; /* Background color when button is active */
  border-color: rgb(171, 171, 171); /* Border color when button is active */
  color: black; /* Font color when button is active */
}

/* Footer */

footer {
  width: 100%; /* Take up the full width of the viewport */
  padding: 20px; /* Add padding to the footer */
  margin-top: 60px; /* Add some margin at the top to separate it from the main content */
  color: wheat; /* Set text color */
  font-size: 23px; /* Set font size */
  text-align: center; /* Center-align the text */
  font-weight: 400;
}

footer span {
  font-weight: 900;
}
