html {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.home-container {
  height: 100vh; /* Adjust height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
}

.intro-pg1 {
  margin: 0;
}

header {
  position: relative; /* Make the header relative to control absolutely positioned elements */
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the background color and opacity as needed */
}

.iframe-container {
  position: absolute; /* Make the iframe fixed to ensure it covers the entire viewport */
  width: 100vw;
  height: 100vh;
  border: none;
  top: 0;
  left: 0;
}

.content {
  position: relative; /* Make the content relative to position it on top of the iframe */
  padding-top: 5vw;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the background color and opacity as needed */
}

/* Design for the code */

h1 {
  color: wheat;
  font-weight: 800;
  font-style: normal;

  font-size: 3vw;
  text-align: center;
  padding-top: 6vw;
  padding-bottom: 3vw;

  margin: 0;
}

/* Navigation design */

nav ul {
  list-style-type: none; /* Remove bullet points */
  font-size: 1vw;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
  text-shadow: -0.15vw 0 black, 0 0.05vw black, 0.05vw 0 black, 0 -0.05vw black;
}

nav ul li {
  display: inline; /* Display list items horizontally */
}

nav ul li:not(:last-child) a::after {
  content: "|"; /* Add a separator after each list item except the last one */
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
}

nav ul li a {
  color: wheat; /* Set default text color */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.2s; /* Smooth transition for color change */
}

nav ul li a:hover {
  color: #75BFD1; /* Change text color on hover */
}

nav ul li a:active {
  color: gray; /* Change text color on click */
}

nav ul li a.active {
  color: rgb(148, 73, 176); /* Set color for active link */
}

/* Content design */

.intro-content {
  /* color: #92c8cc; #92c8cc*/
  text-align: center;
  font-size: 2vw;
  color: wheat;
  font-weight: 800;
  font-style: normal;
  margin: 0 6vw;
  margin-top: 6vw;
  margin-bottom: 4vw;

  backdrop-filter: blur(1px); /* Adjust the blur radius as needed */
}

/* button design */

.buttons {
  text-align: center; /* Center align the buttons */
}

/* Resume button & Contact-me button*/

.resume-button, .contact-me-button {
  margin: 0 5vw;
  margin-top: 5vw;
  padding: 1.5vw; /* Add padding to the buttons */
  background-color: black; /* Set background color of the buttons */
  border: 0.15vw solid wheat; /* Set border with solid color wheat */
  border-radius: 0.7vw; /* Add border-radius for curved corners */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: color 0.1s ease, border-color 0.1s ease; /* Add transition for color and border-color */
}

.resume-link, .contact-me-link {
  font-size: 1vw; /* Adjust font size as needed */
  text-decoration: none; /* Remove underline */
  font-weight: 600; /* Set font weight to 700 */
  color: wheat;
}

.resume-button:hover .resume-link, .contact-me-button:hover .contact-me-link{
  color: rgb(237, 237, 237); /* Darker shade of wheat */
  border-color: #b3b3b3; /* Darker shade of wheat */
}

.resume-button:active, .contact-me-button:active {
  background-color: #383838; /* Dark grey / black */
  border: 0.1vw solid wheat;
}

.resume-link:active, .contact-me-link:active {
  color: wheat; /* wheat */
}


@media (max-width: 1440px) {

  nav ul {
    font-size: 1.3vw;
    padding-top: 3vw;
  }

  .resume-link, .contact-me-link {
    font-size: 1.3vw; /* Adjust font size as needed */
  }


  h1 {
    padding-bottom: 1vw;
  }
}
