<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My website Home</title>
</head>
<body class="home-container">
  <main>
    <header>
      <h1 class="intro-pg1">Hi, I am Saran</h1>
      <nav>
          <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/projects">Projects/Skills</a></li>
              <li><a routerLink="/experience">Experience/Education</a></li>
              <li><a routerLink="/contact">Contact Me</a></li>
          </ul>
      </nav>
    </header>
    <section>
      <iframe class="iframe-container" src="http://localhost:3000/aurora.html"></iframe>
    </section>

    <section class="content">
      <p class="intro-content">"A software developer who loves to find new problems and solve them."</p>
      <div class="buttons">
          <button class="resume-button"><a href="https://raw.githubusercontent.com/SaranKumarRamesh/resume/42291f224da0b7af93f97f07d411aed2e9e45130/Saran%20Kumar%20Ramesh%20-%20Resume.pdf" download="Saran Kumar Ramesh - Resume.pdf" class="resume-link">My Profile (Resume)</a></button>
          <button class="contact-me-button"><a routerLink="/contact" class="contact-me-link">Contact Me</a></button>
      </div>
    </section>
  </main>

  <footer></footer>
</body>
</html>
