html {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.home-container {
  height: 100vh; /* Adjust height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
}

.intro-pg1 {
  margin: 0;
}

header {
  position: relative; /* Make the header relative to control absolutely positioned elements */
  width: 100%;
  z-index: 1;
}

.iframe-container {
  position: absolute; /* Make the iframe fixed to ensure it covers the entire viewport */
  width: 100%;
  height: 100%;
  border: none;
  top: 0;
  left: 0;
}

.content {
  position: relative; /* Make the content relative to position it on top of the iframe */
  padding: 20px;
}

/* Design for the code */

h1 {
  color: wheat;
  font-weight: 800;
  font-style: normal;

  font-size: 70px;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 60px;
  margin: 0;
}

/* Navigation design */

nav ul {
  list-style-type: none; /* Remove bullet points */
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline; /* Display list items horizontally */
}

nav ul li:not(:last-child) a::after {
  content: "|"; /* Add a separator after each list item except the last one */
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

nav ul li a {
  color: wheat; /* Set default text color */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.2s; /* Smooth transition for color change */
}

nav ul li a:hover {
  color: #75BFD1; /* Change text color on hover */
}

nav ul li a:active {
  color: gray; /* Change text color on click */
}

nav ul li a.active {
  color: rgb(148, 73, 176); /* Set color for active link */
}

/* Content design */

.intro-content {
  /* color: #92c8cc; #92c8cc*/
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: 900;
  font-style: normal;
  text-shadow: -2px 0 #D3D798, 0 2px #D3D798, 2px 0 #D3D798, 0 -2px #D3D798;
  margin: 210px;

  backdrop-filter: blur(1px); /* Adjust the blur radius as needed */
  background-color: rgba(61, 59, 59, 0.5); /* Adjust the background color and opacity as needed */
}

/* button design */

.buttons {
  text-align: center; /* Center align the buttons */
}

/* Resume button */

.resume-button {
  margin: 50px;
  margin-top: 100px;
  padding: 30px 40px; /* Add padding to the buttons */
  background-color: black; /* Set background color of the buttons */
  border: 2px solid wheat; /* Set border with solid color wheat */
  border-radius: 10px; /* Add border-radius for curved corners */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: color 0.1s ease, border-color 0.1s ease; /* Add transition for color and border-color */
}

.resume-link {
  font-size: 25px; /* Adjust font size as needed */
  text-decoration: none; /* Remove underline */
  font-weight: 700; /* Set font weight to 700 */
  color: wheat;
  font-weight: 600;
}

.resume-button:hover .resume-link {
  color: rgb(237, 237, 237); /* Darker shade of wheat */
  border-color: #b3b3b3; /* Darker shade of wheat */
}

.resume-button:active {
  background-color: #383838; /* Dark grey / black */
  border: 3px solid wheat;
}

.resume-link:active {
  color: wheat; /* wheat */
}

/* Contact-me button */
.contact-me-button {
  margin: 50px;
  margin-top: 100px;
  padding: 30px 40px; /* Add padding to the buttons */
  background-color: black; /* Set background color of the buttons */
  border: 2px solid wheat; /* Set border with solid color wheat */
  border-radius: 10px; /* Add border-radius for curved corners */
  cursor: pointer; /* Add cursor pointer on hover */
  transition: color 0.1s ease, border-color 0.1s ease; /* Add transition for color and border-color */
}

.contact-me-link {
  font-size: 25px; /* Adjust font size as needed */
  text-decoration: none; /* Remove underline */
  font-weight: 700; /* Set font weight to 700 */
  color: wheat;
  font-weight: 600;
}

.contact-me-button:hover .contact-me-link{
  color: rgb(237, 237, 237); /* Darker shade of wheat */
  border-color: #b3b3b3; /* Darker shade of wheat */
}

.contact-me-button:active {
  background-color: #383838; /* Dark grey */
  border: 3px solid wheat;
}

.contact-me-link:active {
  color: wheat; /* Darker shade of wheat */
}
